html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}   

body {
    background: #2C2141;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    min-height: 100vh;
}

.person {
    background: #F8F8F8;
    border-radius: 16px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding: 32px;
    width: 624px;
}

.person__description {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 22px;
}

.person__description--strong {
    color: #ED6D05;
    font-weight: normal;
}

.person__description--em {
    color: darkgrey;
    font-style: normal;
    font-weight: normal;
}

.person__header {
    font-weight: normal;
    margin-bottom: 24px;
}

.person__image {
    border-radius: 74px;
    height: 148px;
    width: 148px;
}

.person__names {
    font-size: 32px;
    margin: 0;
}

.person__position {
    color: #545454;
    font-size: 18px;
    font-style: italic;
    margin: 0;
}

.person__social {
    margin: 0;
}

.person__social-link {
    color: #E20613;
    text-decoration: none;
}